
@{
    ViewBag.Title = "Painel";
}

@MeuHelper.Titulo("Painel do Usuário")

<div class="row">
    <div class="col-md-12 col-sm-12">
        @Html.ActionLink("Vender Produtos", "Vender", "Vender", null, new { @class="btn btn-primary" })
        <button class="btn btn success" id="btnComprar">Comprar</button>
    </div>
</div>

