@model Fiap.Leilao.Web.ViewModels.UserViewModel
<div class="espaco" /> </div>
@{
    ViewBag.Title = "LogIn";
}


@section login{




    <div class="login">
        @using (Html.BeginForm())
    {

            <header>
                <div class="container">
                    <section class="header-top">
                        <img src="~/Content/imagens/logo.png" alt="" />
                        <h1>Trazendo eficácia para as suas compras online</h1>
                    </section>
                    <section class="body-login">
                        <div class="caixa">
                            @Html.TextBoxFor(u => u.Email, new { @class = "email", placeholder = "E-mail" })

                            @Html.TextBoxFor(u => u.Password, new { @class = "senha", placeholder = "Senha", Type ="password"})


                            <div class="links">
                                <input type="submit" value="ENTRAR" class="buttons">
                                @Html.ActionLink("Inscreva-se gratuitamente", "Register", "User", new { area = "" }, new { @class = "under" })
                            
                            </div>
                        </div>
                    </section>
                </div>
            </header>



        }


    </div>
}