@model List<Fiap.Leilao.Web.Models.Produto>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Nome</td>
        <td>@item.Descricao</td>
        <td>
            <button onclick="produtoId.value=@item.Id" type="button" class="btn btn-success btn-sm" data-toggle="modal"
                    data-target="#modalVender">Vender</button>
        </td>
    </tr>
}